*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "MB";
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    max-width: 1140px;
    width: 100%;
    padding: 0px 15px;
    margin: 0 auto;
}

body{
    background: #151515;
}

.header__logo{
    transition: 300ms;
}

.header__logo:hover{
    transform: scale(1.4);
}

.header__nav{
    background: #282828;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}
.header__nav-container{
    display: flex;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
  
}

.header__nav-box{
    display: flex;
    gap: 30px;
}

.header__nav-list{
    display: flex;
    gap: 30px;
    align-items: center;
}

.header__nav-link{
font-size: 20px;
line-height: 24px;
color: #FFFFFF; 
border-top: 2px solid transparent;
border-bottom: 2px solid transparent;
transition: border 400ms;
display: block;
padding: 5px 0;
}

.header__nav-link:hover{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

.header__nav-img{
    display: flex;
    align-items: center;
    gap: 25px;
}

.search{
    transition: 0.3s;
}
.search:hover{
   transform: scale(1.8);
}

.shop{
    transition: 0.3s;
}
.shop:hover{
   transform: scale(1.8);
}

.main__box  {
    background: url(../images/Header.jpg ) no-repeat center/cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}


.main__box:hover{
    transform: scale(1.07);
}

.main__box-title{
font-size: 100px;
line-height: 75px;
color: #FFFFFF;
font-family: "RR";
transition: color 300ms;
}

.main__box-title:hover{
    color: red;
    
}
.main__box-button{
display: flex; 
gap: 11px;
background: #FFFFFF;
border-radius: 10px;
padding: 13px ;
margin-top: 51px;
transition: 300ms;
}



.main__box-button:hover{
    background: rgb(197, 193, 210);
    transform: scale(1.3);
}


.main__box__link{
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
font-family: "MR";
color: #171718;
transition: color 300ms, background 300ms;
}


.section__one{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    gap: 30px;
    align-items: center;
}

.section__one-text{
font-size: 22px;
line-height: 27px;
color: #FFFFFF;
font-family: 'MM';
}

.section__one-img{
    width: 100%;
    transition: 600ms;
}

.section__one-img:hover{
    transform: translate(90px, 0px);
}

.section__two{
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    gap: 87px;
    align-items: center;
}

.section__two-text{
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    color: #FFFFFF;
    font-family: 'MM';
    }

    .section__two-img{
        transition: 600ms;
    }
    
    .section__two-img:hover{
        transform: translate(0px, 90px);
    }

    .section__three{
        display: flex;
        margin-top: 50px;
        align-items: center;
        gap: 13px;
    }

    .section__three-left__text{
font-size: 20px;
line-height: 24px;
text-align: right;
color: #FFFFFF;
width: 333px;
}

.section__three-right__text{
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #FFFFFF;
    width: 333px;
    }
    
    .section__three-center__img{
        display: flex;
        align-items: center;
        gap: 14px;
        transition: 600ms;
    }

    .section__three-center__img:hover{
        transform: scale(-1,1);

    }

  .before::before{
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #C4C4C4;
  } 
  .after::after{
    content: '';
    display: block;
    width: 61px;
    height: 1px;
    background: #C4C4C4;
  }   

  .item__box{
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    gap: 30px;
  }


.item-img{
    padding: 10px;
}

.item-title{
text-align: center;
font-size: 20px;
line-height: 24px;
color: #000000;
}

.item-text{
font-size: 14px;
line-height: 17px;
font-family: "MR";
text-transform: uppercase;
color: #000000;
text-align: center;
padding: 10px 0px 20px 0px;
}

.items{
    width: 25%;
    height: 312px;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 15px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 300ms;
    
    }

    .items:hover{
        transform: scale(1.16);
    }


.item-link{
font-size: 16px;
line-height: 20px;
background: #151515;
text-transform: uppercase;
padding: 7px 57px;
color: #FFFFFF;
}

.footer{
background: #282828;
box-shadow: 0px -4px 20px rgba(0, 0, 0, 0.25);
margin-top: 55px;
width: 100%;
}

.footer__box{
    display: flex;
    justify-content: space-between;
    padding: 81px 0px;
}


.footer__nav-list{
    display: flex;
    gap: 30px;
    align-items: center;
}

.footer__nav-link{
font-size: 20px;
line-height: 24px;
text-align: right;
color: #FFFFFF;
transition: color 300ms;
}

.footer__nav-link:hover{ color: #7a0af2;
}

.footer__pay{
    display: flex;
    gap: 30px;
}

/*  */


/* @media(max-width:1300px){
    .main__box{
        width: 100%;
    }
    .main__box-title{
        font-size: 80px;
        text-align: center;
    }
    .section__one-text{
        margin-right: 50px;
        margin-left: 30px;
    }
    .section__one-right{
        width: 100%;
        margin-right: 30px;
    }
    .section__three{
        width: 100%;
        
    }
    .section__three-left__text,
    .section__three-right__text{
        width: 100%;
    }
    .items{
      width: 50%; 
    }
   .item__box{
    flex-wrap: wrap;
    display: flex;
    max-width: 100%;
    margin: 0 10px;
   }
} */

@media(max-width:576px){   
    
    .main__box-title{
        font-size: 40px;
        text-align: center;
    }
    .main__box{
        width: 100%;
    }

    .header{
        width: 100%;
    }

    .section__one{
        width: 100%
    }
    .section__one-img{
        width: 90%;
    }
    .section__one-left{
        width: 80%;
        padding-left: 20px;
    }
    .section__one-text{

    font-size: 12px;
    line-height: 17px;
    }
    .section__two{
        width: 100%;
        margin-top: 50px;
        gap: 20px;
    }
    .section__two-img{
        width: 100%;
    }
    .section__two-right{
        width: 50%;
    }
    .section__two-text{
        font-size: 12px;
    line-height: 17px;
    }
    .section__three{
       display: flex;
       flex-direction: column;
    }
    .section__three-right__text,
    .section__three-left__text{
        text-align: center;
        margin: 30px;
        font-size: 12px;
    line-height: 17px;
    }

    


    .item__box{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
.items{
    width: 50%;

}



    .footer{
        max-width: 100%;
    }

.footer__logo{
    width: 20%;
}
.footer__nav-list{
    display: flex;
    flex-direction: column;
}
.footer__pay{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__pay-visa{
    width: 52px;
}
.footer__pay-mastercard{
    width: 52px;
}
.header__nav-link{
    font-size: 10px;
    line-height: 14px;
}
.header__nav-list{
    width: 20%;
    gap: 20px;
}
.header__nav-img{
    width: 20%;
}
}









